.App {
  text-align: center;
}

section {
  display: flex;
  width: 100vw;
  background: #EEE;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  font-size: 10vw;
  border-bottom: 1px solid #666;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-weight: normal;
  margin: 0;
}

.letter {
  font-size: 15vw;
  display: inline-block;
}
